# Include docs folder in language statistics, as this is where website is hosted from. But still exclude libraries.
docs/** -linguist-documentation
docs/js/paper.js linguist-vendored
docs/js/paper.min.js linguist-vendored
docs/js/acorn.js linguist-vendored